<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.AddressFormDao">
    <select id="seladd" resultType="AddressForm" >

        select address , phone ,consignee ,postcode FROM addressform where uuid = #{uuid} and defau = 0

    </select>
    <select id="selall" resultType="cn.pojo.AddressForm" parameterType="cn.pojo.AddressForm">
         select address , phone ,consignee ,postcode FROM addressform where uuid = #{uuid}
    </select>
    <select id="selsite" resultType="cn.pojo.AddressForm">
        select count(1) FROM addressform where uuid = #{uuid}
    </select>

    <insert id="address" parameterType="cn.pojo.AddressForm">
        insert into addressform values (0,#{address},#{phone},#{postcode},#{uuid})
    </insert>
    <delete id="delsite" parameterType="cn.pojo.AddressForm">
        delete from addressform where uuid = #{uuid} and oid = #{oid}
    </delete>
</mapper>