<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.dao.GoodsFormDao">
    <select id="selfuzzy" resultType="cn.pojo.GoodsForm" parameterType="String">
          select gname,gprice,ginfo,gimage,ginfoimage from goodsform
          <where>
              <if test="gname != null">
                  and gname like concat(concat('%',#{gname},'%'))
              </if>
          </where>
    </select>
</mapper>