<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.TypeFormDao">
    <!--&lt;!&ndash;商品种类&ndash;&gt;
    <select id="TypeShow" resultType="TypeForm">
        select tname from typeform
    </select>
-->
    <!--根据商品ID查询-->
    <select id="TypeAll" resultType="TypeForm">
        select tname,tid from typeform where gnid=#{gnid}
    </select>

    <select id="getAllType" resultType="TypeForm">
        select tid,tname from typeform
        <trim prefix="where" prefixOverrides="and|or">
            <if test="tid != null">
              and tid=#{tid}
            </if>
            <if test="tname != null">
              and tname=#{tname}
            </if>
        </trim>
    </select>
</mapper>